@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.main-slider {
  img {
    width: 100%;
    height: calc(100vh - 120px);
    object-fit: cover;
    object-position: left top;

    @media (min-width: 850px) {
      object-position: right top;
    }
  }
  .carousel-caption {
    bottom: 50%;
    @include transform(translateY(50%));

    h3,
    p {
      color: $color2;
    }

    @media (min-width: 850px) {
      text-align: left;
      width: 40%;
    }
  }
}
