@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.contact{
    h3{
        color: $color2;
    }

    p{
        color:$color2-op-50;
    }

    .card{
        width: 98%;
        padding:30px;
        margin:auto;
        margin-top:-50px;
        @include transform(translateY(50px));
        @include shadow(box, 0 10px 20px -10px $color2-op-50);

        @media(min-width: 768px){
            width: 70%;
        }

        @media(min-width: 992px){
            width: 60%;
        }

        @media(min-width: 1200px){
            width: 70%;
        }
    }

    .contact-row{
        @include flex($fw: nowrap, $gap:20px);
    }

    .contact-menu{
        flex-direction: column;
        display: none;
        flex:3;
        gap:1.2rem;

        @media(min-width: 1200px){
            display: flex;
        }

    }

    .contact-form{
        flex:5;
    }
}