@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

footer {
  background-color: $color2;
  color: $color3;
  padding-top: 20px;
  padding-bottom: 20px;

  a {
    color: $color1 !important;
  }

  .nav {
    flex-direction: column;
    flex-wrap: nowrap;

    i{
      color: $color5;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
